{% extends "accounts/base.html" %}

{% block title %}
    Login Activity Logs 
{%endblock %} 

{% block content %}

<div class="min-h-screen bg-gray-50 flex">
  {% include "accounts/sidebar.html" %}

  <main class="flex-1 p-8">
    <h2 class="text-2xl font-semibold mb-2">Login Activity Logs</h2>

    <p class="text-gray-500 mb-6">Monitor all authentication attempts.</p>

    <div class="bg-white border rounded-xl overflow-hidden">
      <table class="w-full text-sm">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-5 py-3 text-left">Username</th>

            <th class="px-5 py-3 text-left">Time</th>

            <th class="px-5 py-3 text-left">Status</th>

            <th class="px-5 py-3 text-left">Reason</th>
          </tr>
        </thead>

        <tbody>
          {% for log in activity_logs %}

          <tr class="border-t">
            <td class="px-5 py-3">{{ log.username }}</td>

            <td class="px-5 py-3 text-gray-600">
              {{ log.login_time|date:"M d, Y H:i" }}
            </td>

            <td class="px-5 py-3">
              {% if log.authentication_status == "SUCCESS" %}

              <span
                class="px-3 py-1 rounded-full text-xs bg-green-100 text-green-700"
              >
                SUCCESS
              </span>

              {% else %}

              <span
                class="px-3 py-1 rounded-full text-xs bg-red-100 text-red-700"
              >
                FAILED
              </span>

              {% endif %}
            </td>

            <td class="px-5 py-3">{{ log.reason }}</td>
          </tr>

          {% empty %}

          <tr>
            <td colspan="4" class="text-center py-5 text-gray-500">
              No activity found.
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- PAGINATION -->

    <div class="flex justify-between mt-5">
      {% if activity_logs.has_previous %}

      <a
        href="?page={{ activity_logs.previous_page_number }}"
        class="px-4 py-2 bg-gray-200 rounded-lg"
      >
        Previous
      </a>

      {% endif %}

      <span class="text-gray-500">
        Page {{ activity_logs.number }} of {{ activity_logs.paginator.num_pages
        }}
      </span>

      {% if activity_logs.has_next %}

      <a
        href="?page={{ activity_logs.next_page_number }}"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg"
      >
        Next
      </a>

      {% endif %}
    </div>
  </main>
</div>

{% endblock %}
