<aside class="w-64 bg-white border-r border-gray-200 p-6">

    <h1 class="text-lg font-semibold text-gray-900 mb-8">
        Secure Admin
    </h1>


    <nav class="space-y-2">


        <a
        href="{% url 'admin_dashboard' %}"
        class="block px-4 py-3 rounded-lg text-gray-700 hover:bg-gray-100">

            Dashboard

        </a>



        <a
        href="{% url 'user_management' %}"
        class="block px-4 py-3 rounded-lg text-gray-700 hover:bg-gray-100">

            User Management

        </a>



        <a
        href="#"
        class="block px-4 py-3 rounded-lg text-gray-700 hover:bg-gray-100">

            Login Activity Logs

        </a>



        <a
        href="{% url 'locked_accounts' %}"
        class="block px-4 py-3 rounded-lg text-gray-700 hover:bg-gray-100">

            Locked Accounts

        </a>



        <a
        href="#"
        class="block px-4 py-3 rounded-lg text-gray-700 hover:bg-gray-100">

            Security Settings

        </a>



        <a
        href="{% url 'logout' %}"
        class="block px-4 py-3 text-red-600 font-semibold hover:bg-red-50 rounded-lg">

            Logout

        </a>


    </nav>


</aside>